<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
  <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

  <appender name="UI" class="com.etrandafir.mcpswag.web.LogAppender"/>

  <logger name="com.etrandafir.mcpswag" level="DEBUG"/>

  <root level="INFO">
    <appender-ref ref="CONSOLE"/>
    <appender-ref ref="UI"/>
  </root>
</configuration>
